@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
  }
html {
    margin: 0; 
}
body {
    margin: 0;    

    color: #333333;
}  
a{
    cursor: pointer;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    z-index: 3;
}
h1{
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    margin-top: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
h2 {

    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 13px;
}
h3 {
    font-family: 'Libre Franklin';
    font-style: normal;
}
p{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
.bg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 275px;
    z-index: -2;
    background-image: url(./image/bg.png);
    padding-top: 36px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 50px;
    color: #FFFFFF;
}
.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(198, 108, 73, 0.4); 
    z-index: -1;
}
.navigation{
    display: flex;
    width: 100%;
    align-items: baseline;
}
.navigation h1{
    font-weight: bold;
    text-align: center;
    width: 85%;

    padding: 0;
    margin-bottom: 50px;
}
.bg-text{
    text-align: center;
    margin: 0;
}

.bg-text h3 {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 41px;
}
.bg-text p {
    text-decoration-line: underline;
}

.about {
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 29px;
}
.about h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 19px;
}
.about p{
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 25px;
}

.skills{
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 32px;
    border-bottom: 25px;
    background: #FFFAF2;
    display: grid;
    justify-items: center;
}
.skills-body{
    display:grid;
    justify-content: center;
    width: 100%;
}
.skills h1{
    text-align: center;
}
.skills h3 {
    width: 100px;
    padding-left: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    margin: 0; 
}
.skills p {
    font-size: 12px;
    line-height: 25px;
    margin: 0; 
}
.skills img {
    width: 218px;
    height: 224px;
    padding-bottom: 26px;
}
.graph {
    display: block;
    background: #F5D6AB;
    height: 18px;
    width: 211px;
    z-index: 0;
}
.graph > div {
    background: #C66C49;
    height: 18px;
    z-index: 1;
}

.profile, .frontEnd, .tools-layout, .ui-Design, .tools-designing, .ui-Research, .tools-real{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    justify-content: flex-start;
}
.profile {
    margin-bottom: 31px;
}
.frontEnd, .ui-Design, .ui-Research {
    margin-bottom: 9px;
}
.tools-layout, .tools-designing, .tools-real{
    margin-bottom: 18px;
}
/* .tools-layout p{
    margin-right: 31px;
}
.tools-designing p{
    margin-right: 27px;
}
.tools-real p{
    margin-right: 92px;
} */

.portfolio{
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 32px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
   
}
.portfolio-UXResearch{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-UXResearch h1 {
    margin: 0;
    padding-bottom: 19px;
}
.portfolio-UXResearch h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 15px;
}
.portfolio-UXResearch p {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    margin-bottom: 30px;
}

.portfolio-group-left .up {
    width: 169px;
    height: 70px;
}
.portfolio-group-left .down {
    width: 169px;
    height: 112px;
    padding-top: 8px;
}
.portfolio-group-right .up {
    width: 122px;
    height: 112px;
}
.portfolio-group-right .down {
    width: 122px;
    height: 70px;
    padding-top: 6px;
}
.photo {
    display: flex;
}
.portfolio-group-right{
    padding-left: 6px;
}

.Get-in-touch {
    background-color: #FFFAF2;
    padding-top: 26px;
    padding-left: 42px;
    padding-right: 32px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.Get-in-touch-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-touch{
    display: flex;
}
.info-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-bar p{
    margin: 0;
    margin-bottom: 7px;
}
.navigation-bar{
    display: none;
}
.portfolio-button{
    display: none;
}
.information-desktop{
    display: none;
}

@media only screen and (min-width: 896px) {
    h2{
        font-size: 64px;
        line-height: 78px;
    }
    p {
        font-size: 18px;
        line-height: 22px;
    }
    .navigation h1{
        text-align: left;
        width: 42%;
    }
    .navigation img{
        display: none;
    }
    .navigation{
        display: flex;
        margin: 0;
        padding-bottom: 140px;
    }
    .navigation-bar{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 50%;

    }

    .bg {
        z-index: 0;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 165px;
        padding-top: 93px;
        height: 768px;
    }
    .bg::before {
        background: rgba(198, 108, 73, 0.3); 
    }
    .bg-text{
        text-align: left;
        width: 100%;
        margin: 0;
    }
    .bg-text h3 {
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 106px;
    }

    .about {
        padding-top: 93px;
        padding-left: 166px;
        padding-right: 167px;
    }
    .about h1{
        margin: 0;
        text-align: left;
        font-weight: bold;
        padding-bottom: 76px;
    }
    .about p {
        margin: 0;
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 115px;
    }

    .skills{
        display: flex;
        padding-left: 165px;
        padding-top: 93px;
        padding-right: 165px;
        padding-bottom: 145px;
    }
    .skills-head h1{
        margin: 0;
        text-align: left;
        padding-bottom: 86px;
        font-weight: bold;
    }
    .skills-head img{
        width: 340px;
        height: 350px;
        margin-right: 125px;
    }

    .skills-body{
        padding-top: 110px;
    }
    .skills h3 {
        width: 200px;
        font-size: 18px;
    }
    .skills p {
        /* width: 100%; */
        font-size: 20px;
    }
    .graph {
        display: block;
        /* width: 446px; */
        width: 70%;
        height: 24px;
       
    }
    .graph > div {
        height: 24px;
    }
    .profile {
        margin-bottom: 60px;
    }
    .frontEnd, .ui-Design, .ui-Research, .tools-layout, .tools-designing, .tools-real {
        margin-bottom: 20px;
    }

    .portfolio{
        flex-direction: row;
        padding-left: 165px;
        padding-top: 93px;
        padding-right: 165px;
        padding-bottom: 145px;
    }
    .photo{
        display: flex;
        width: 450px;
        padding-top: 160px;
    }
    .portfolio-UXResearch{
        align-items: flex-start;
        width: 474px;
        padding-right: 125px;

    }
    .portfolio-UXResearch h1{
        align-items: flex-start;
        padding-bottom: 86px;
    }
    .portfolio-UXResearch h2{
        font-weight: 600;
        font-size: 18px;
    }
    .portfolio-UXResearch p{
        width: 349px;
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 235px;
        margin: 0;
        text-align: left;
    }
    .portfolio-group-right{
        padding-left: 0;
    }
    .portfolio-group-left{
        margin-right: 30px;
    }
    .portfolio-group-left .up {
        width: 350px;
        height: 144px;
    }
    .portfolio-group-left .down {
        width: 349px;
        height: 233px;
        padding-top: 20px;
    }
    .portfolio-group-right .up {
        width: 255px;
        height: 233px;
    }
    .portfolio-group-right .down {
        width: 255px;
        height: 144px;
        padding-top: 18px;
    }
    .portfolio-button{
        display: flex;
    }
    .portfolio-button .left{
        margin-right: 20px;
    }

    .Get-in-touch{
        padding-left: 165px;
        padding-top: 93px;
        padding-right: 180px;
    }
    .Get-in-touch-header{
        align-items: flex-start;
        font-weight: bold;
    }
    .Get-in-touch-header h1{
        margin: 0;
        padding-bottom: 51px;
    }
    .information-desktop{
        display:grid;
        height: 40px;
    }
    .information-desktop p {
        margin: 0;
    }
    .information-desktop .email {
        margin-bottom: 8px;
        padding-right: 143px;
    }
    .information-mobile{
        display: none;
    }
    .list-touch{
        flex-direction: row;
    }
    .info-bar{
        justify-content: flex-end;
    }
}